<div class="panel panel-default sub-panel" data-sub-id={{ sub.id }}>
    <div class="panel-body">
        <div class="pull-left">
            <a href="{{ sub.user.profile.get_absolute_url }}">
                <img class="img-circle" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;"
                     src="{{ sub.user.profile.thumbnail_url }}">
            </a>
        </div>
        <h4 class="pull-left"><a href="{{ sub.user.url }}"
                                 style="text-decoration:none;"><strong>{{ sub.user.username }}</strong></a>
            {% if sub.invited %}
                <small id="small-invited">Invited!</small>
            {% endif %}
        {% spaceless %}
            <small>
                {% for team in user.managed_teams %}
                    {% if team.captain in sub.invitation_requesters %}
                        {% if forloop.first %}
                            Invited to {{ team }}
                        {% elif forloop.last %}
                            and {{ team }}
                        {% else %}
                            ,  {{ team }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </small>
        {% endspaceless %}
        </h4>
        <form action="." method="post">
            <input type="hidden" name="session_event" value="{{ session_event.id }}">
            {% csrf_token %}
            {% if perms.teams.add_team and sub.user != user %}
                <input type="hidden" name="user" value="{{ sub.user.id }}">
                <input class="invite-button pull-right btn btn-default" data-sub-id="{{ sub.id }}" type="submit"
                       name="invite" value="Invite">
            {% elif sub.user == user %}
                <input class="unregister-button pull-right btn btn-default" data-sub-id="{{ sub.id }}" type="submit"
                       name="unregister" value="Unregister">
            {% endif %}
        </form>

    </div>
</div>