session_event_start.html{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}{{ session_event.session.name }} Subs on {{ session_event.date }}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Choose your team to invite them to</h1>
      </div>
      <div class="col-md-2">
        <p>
          Choose the team that you want to invite a substitute to join.
        </p>
        <p>
          Next, you will choose the session and the
          date, followed by the players you want to invite.
        </p>
      </div>
      <div class="col-md-5">
        <div class="list-group">
          {% for team in teams %}
            <a href="{% url 'invites:session-event:confirm' %}?sub={{ view.kwargs.sub_id }}&teamId={{ team.id }}" class="list-group-item">{{ team.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
