{% extends 'base.html' %}
{% load static %}
{% block title %}Profile for {{ player.username }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Session Invites</h3>
            <h4>Pending</h4>
            {% for invite in user.session_event_invites.pending %}
                {{ invite }}
            {% endfor %}
            <h4>Approved</h4>
            {% for invite in user.session_event_invites.approved %}
                {{ invite }}
            {% endfor %}
            <h4>Declined</h4>
            {% for invite in user.session_event_invites.declined %}
                {{ invite }}
            {% endfor %}
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Team Invites</h3>
            <h4>Pending</h4>
            {% for invite in user.team_invites.pending %}
                {{ invite }}
                <form action="." method="post">
                    {% csrf_token %}
                    <input type="hidden" name="invite-type" value="team">
                    <input type="hidden" name="team" value="{{ invite.team.id }}">
                    <input type="hidden" name="invitee" value="{{ invite.invitee.id }}">
                    <input class="btn btn-default" type="submit" name="submit" value="Accept">
                </form>
            {% endfor %}
            <h4>Approved</h4>
            {% for invite in user.team_invites.approved %}
                {{ invite }}
            {% endfor %}
            <h4>Declined</h4>
            {% for invite in user.team_invites.declined %}
                {{ invite }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
{% endblock %}