{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block styles %}
  {% render_bundle 'messaging' %}
  <link href="{% static 'messaging/css/messaging.css' %}" rel='stylesheet'/>
{% endblock %}
{% block content %}
  <div class="container" id="main-content">
    <div class="row full-height main-row">
      <div class="col-md-4 full-height bordered">
        <div class="list-group" id="recent-messages-group">
          <h4>Previous messages</h4>
          {% for message in recent_messages %}
            {% include 'messaging/recent_message.html' with message=message orientation='left' %}
          {% endfor %}
        </div>
      </div>
      <div class="col-md-6 full-height bordered">
        <h1 id="friend-name" data-friend-username="{{ friend.username }}">{{ friend.get_full_name }}</h1>
        <ul class="list-group .turbolinks-disable-scroll" id="messages-list">
          {% include 'messaging/message_list_elements.html' %}
        </ul>
        <form action='.' method='post' data-turbolinks-permanent id="message-text-form">
          {% csrf_token %}
          {{ form.text }}
          {{ form.sender }}
          {{ form.receiver }}
        </form>
      </div>
      <div class="col-md-2 right-column full-height bordered">
        <div class="text-center">
          <img id="right-column-thumbnail"class="img-circle text-center" src="{{ friend.profile.thumbnail.url }}" href="{{ friend.profile.get_absolute_url }}">
          <h1><a href="{{ friend.profile.get_absolute_url }}">{{ friend.get_full_name }}</a></h1>
          {% if friend.managed_teams.all %}<small><h4>Team Captain</h4></small>{% endif %}
          <p>
            <ol style="list-style-type:none" class="text-center">
              {% for team in friend.managed_teams.all %}
                <li class="right-column-team-item">{{ team }}</li>
              {% endfor %}
            </ol>
          </p>

          <h4>Team Member</h4>
          <p>
            <ol style="list-style-type:none" class="text-center">
              {% for team in friend.team_set.all %}
                <li class="right-column-team-item">{{ team }}</li>
              {% endfor %}
            </ol>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer_scripts %}
  <input type="hidden" id="user-id" name="name" value="{{ user.id }}">
  <input type="hidden" id="friend-id" name="name" value="{{ friend.id }}">
{% endblock %}
