{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        Sanity
        <ul class="list-group">
          {% for message in messages %}
            <li class="list-group-item {% if message.sender == user %}text-left{% else %}text-right{% endif %}">
              {{ message.text }}
            </li>
          {% endfor %}
        </ul>

        <form action='.' method='post'>
          {% csrf_token %}
          {{ form.text }}
          {{ form.sender }}
          {{ form.receiver }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
