{% extends 'base.html' %}
{% load static %}
{% block styles %}
  <link href="{% static 'messaging/css/messaging.css' %}" rel='stylesheet'/>
{% endblock %}
{% block content %}
  <div class="container" id="main-content">
    <div class="row">
      <div class="col-md-4">
        <div class="list-group" id="recent-messages-group">
          <h4>Previous messages</h4>
          {% for message in recent_messages %}
            {% include 'messaging/recent_message.html' with message=message orientation='left' %}
          {% endfor %}
        </div>
      </div>
      <div class="col-md-6">
        <ul class="list-group">
          {% for message in messages %}
            {% if message.sender == user %}
              {% include 'messaging/message.html' with message=message orientation='left' %}
            {% elif message.receiver == user %}
              {% include 'messaging/message.html' with message=message orientation='right' %}
              {% else %}
                <strong style="color:red">Error!</strong>
            {% endif %}
          {% endfor %}
        </ul>

        <form action='.' method='post'>
          {% csrf_token %}
          {{ form.text }}
          {{ form.sender }}
          {{ form.receiver }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer_scripts %}
<script type="text/javascript">
  $('.recent-message-item').click(function() {
    window.location.href = $(this).attr('href');
  })
</script>
{% endblock %}
