{% extends 'base.html' %}
{% load static %}
{% block title %}Profile for {{ player.username }}{% endblock %}
{% block content %}
    <div>
        <div class="row">
            <div class="col-md-2 pull-left">
                {% if player.profile.thumbnail %}
                    <img class="img-thumbnail img-circle" width=75 height=75 src="{{ player.profile.thumbnail_url }}">
                {% else %}
                    <img class="img-thumbnail img-circle" width=75 height=75
                         src="{% static 'substitutes/images/default_profile.jpg' %}">
                {% endif %}
            </div>
            <div class="col-md-10">
                <h2>{{ player.username }}</h2>
                <a id="send-message-button" class="button btn btn-default"
                   href="{% url 'messaging:messaging' %}?username={{ player.username }}">Message <span
                        class="glyphicon glyphicon-send"></span></a>
                <a id="assign-team-captain-button"
                   class="button btn btn-default"
                   href="{% url 'assign-team-captain' %}?username={{ player.username }}"
                >Assign as Team Captain <span class="glyphicon glyphicon glyphicon-king"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
                Username: {{ player.username }}
                <br>
                First Name: {{ player.first_name }}
                <br>
                Last Name: {{ player.last_name }}
                <br>
                Phone: {{ player.profile.phone_number }}
                <br>
                Email: {{ player.email }}
                <br>
                <a href="{% url 'divisions:create-div-rep-request' %}">Request Division Representative Status</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_scripts %}
{% endblock %}
