{% extends 'accounts/signup_frame.html' %}
{% block heading_subtext %}
    <small><strong>(Division Rep.)</strong></small>
{% endblock %}
{% block panel_body %}
    <article>
        <h3>Success!</h3>
        <p>The admin will be notified that you have registered and signed up to be a division representative.
            After they approve your request your division will be automatically created and you can invite your team
            captains to join. Meanwhile you can...</p>
    </article>
{% endblock %}
