{% extends 'accounts/signup_frame.html' %}

{% block panel_body %}
    <div style="margin-top: 25px; margin-bottom: 35px">
        <p>
            <a href="{% url 'player-signup' %}" class="btn btn-default">Player</a>
            <a href="{% url 'captain-signup' %}" class="btn btn-default">Captain</a>
            <a class="btn btn-default">Division Rep.</a>
        </p>
        <h3 style="padding-top:15px">Player, captain, or division representative?</h3>
    </div>
    <hr>
    <div class="text-left" style="margin-left:25px">
        <p>Choose <strong>Player</strong> if ... </p>
        <p>Choose <strong>Captain</strong> if ...</p>
        <p>Choose <strong>Division Rep</strong> if ...</p>
    </div>
{% endblock %}
