{% extends 'main/base.html' %}
{% load static %}
{% block title %}Your Account Settings{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
                <div id="calendar"></div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}

{% block footer_scripts %}
    <link href="{% static 'scheduler/js/fullcalendar-3.7.0/fullcalendar.css' %}" rel='stylesheet' />
    <link href="{% static 'scheduler/js/fullcalendar-3.7.0/fullcalendar.print.css'  %}" rel='stylesheet' media='print' />
    <script src="{% static 'scheduler/js/fullcalendar-3.7.0/lib/jquery.min.js' %}"></script>
    <script src="{% static 'scheduler/js/fullcalendar-3.7.0/lib/jquery-ui.min.js' %}"></script>
    <script src="{% static 'scheduler/js/fullcalendar-3.7.0/lib/moment.min.js' %}"></script>
    <script src="{% static 'scheduler/js/fullcalendar-3.7.0/fullcalendar.js' %}"></script>
    <script src="{% static 'scheduler/js/scheduler.js' %}"></script>
{% endblock %}