{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8"><h2>Choose your password</h2>
            {{ form.non_field_errors }}
            <form action="." method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.password1.errors }}
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                </div>
                <div class="form-group">
                    {{ form.password2.errors }}
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                </div>

                <input type="submit" value="Submit" id="id_submit_button" class="btn btn-default">
            </form>
        </div>
    </div>
</div>
{% endblock %}
