{% extends 'base.html' %}
{% block title %}Assign team captain{% endblock %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>Make {{ player }} a team captain</h3>
                <div class="form-group">
                    <form action="." method="post">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
