{% extends 'base.html' %}
{% load bootstrap3 %}
{% load webpack_loader %}
{% load static %}
{% block title %}Assign team captain success{% endblock %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>The following users are captains for division  {{ division.fields.name }}</h3>
                <ul>
                    {% for user in users %}
                        <li>{{ user.fields.first_name }} {{ user.fields.last_name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}