{% extends 'base.html' %}
{% load static %}
{% block title %}Profile for {{ player.username }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Session Invites</h3>
            <h4>Pending</h4>
            {% for invite in user.session_event_invites.pending %}
            {{ invite }}
            {% endfor %}
            <h4>Approved</h4>
            {% for invite in user.session_event_invites.approved %}
            {{ invite }}
            {% endfor %}
            <h4>Declined</h4>
            {% for invite in user.session_event_invites.declined %}
            {{ invite }}
            {% endfor %}
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Team Invites</h3>
            <h4>Pending</h4>
            {% for invite in user.team_invites.pending %}
            {{ invite }}
            {% endfor %}
            <h4>Approved</h4>
            {% for invite in user.team_invites.approved %}
            {{ invite }}
            {% endfor %}
            <h4>Declined</h4>
            {% for invite in user.team_invites.declined %}
            {{ invite }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
<script src="{% static 'substitutes/js/utils.js' %}"></script>
<script src="{% static 'api/js/api.js' %}"></script>
<script src="{% static 'substitutes/js/invites.js' %}"></script>
{% endblock %}