{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'substitutes/css/session.css' %}">
{% endblock %}

{% block title %}{{ session_event.session.name }} Subs on {{ session_event.date }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="register-form-div"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div id="calendar"></div>
            </div>
            <div id="right-column" class="col-md-6">
              <h3 id="date-header" style="display:none"><span class="session-name">{{session_event.session.name}}</span> <small class="session-date">{{ session_event.date }}</small></h3>
              {% if not user_registered %}
                <form action="." method="post">
                    {%  csrf_token %}
                    <input type="hidden" name="session-event-id" value="{{ session_event.id }}">
                    <input id="register-button" type="submit" class="btn btn-default" name="register" value="Register"></input>
                </form>
              {% endif %}
                {# These are placeholders rendered in session-calendar.js #}
                <h3 id="current-user-header" style="display:none">You are available</h3>
                <div id="current-user-panel"></div>
                <h3 id="sub-list-header" style="display:none">Subs Available</h3>
                <div id='sub-list' class="post-content">
                    {% for sub in subs %}
                        {% include 'substitutes/sub_panel_detail.html' %}
                    {% endfor %}
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_scripts %}
    <link href="{% static 'calendar/js/fullcalendar-3.7.0/fullcalendar.css' %}" rel='stylesheet'/>
    <link href="{% static 'calendar/js/fullcalendar-3.7.0/fullcalendar.print.css' %}" rel='stylesheet' media='print'/>
    <script type="text/javascript">
        const context = {};
        context.sessionEvents = JSON.parse('{{ session_events|escapejs|safe }}')
    </script>
    {% render_bundle 'session-event-detail' %}
{% endblock %}
