{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>Search</h3>
        {% if results %}
        <ul>
            {% for result in results %}
            <li>
                <a href="{{ result.user.profile.get_absolute_url }}">{{ result.user.first_name }} {{ result.user.last_name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div>No results found</div>
        {% endif %}
    </div>
</div>
{% endblock %}