    {% if not teams %}
        <p>No teams!</p>
    {% endif %}


    {% for team in teams %}
    {% if team.team_captain == user %}
        <h4> {{ team.name }} <a href="{{ team.get_delete_url }}"> delete this team</a></h4>
    {% else %}
        <h4> {{ team.name }}</h4>
    {% endif %}

    <h5>Divisions</h5>
    <ul>
        {% for division in team.division_set.all %}
            <li><a href="{{ division.get_absolute_url }}">{{ division }}</a></li>
        {% endfor %}
    </ul>
    <h5>Captain: {{ team.team_captain }}</h5>
    <h5>Players</h5>
    <ul>
        {% for player in team.players.all %}
        <li>{{ player }}</li>
        {% endfor %}
    </ul>

        <h5>SnookR Unregistered Players</h5>
    <ul>
        {% for player in team.nonuserplayer_set.all %}
            <li>{{ player.name }}</li>
        {% endfor %}
    </ul>

    {% endfor %}